/*Global Styling*/
body {
    background-color: lightcyan;
    color: blue;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.25rem;
}

.heading {
    font-size: 3rem;
}
/*Game Containers*/
.container {
    margin: auto;
    border: 7px dotted hsl(240, 100%, 50%, 50%);
}